#
# This is to setup Watchman on the ubuntu server 16.04
#
# NOTES:
#   - For interactive cmd, please append "pwd" at the end.
#   - Built-in func: MYE_UPDATE_FILE
#   - Built-in variables:
#         CFG_ROOT_DIR, CURRENT_DATE, CURRENT_TIME, TOOL_ROOT_DIR
#
#
# Prerequisites:
#

#
# The global variables for this project
#

# The default password for all the service users

CURRENT_GROUP.CFG := GRP09
CURRENT_GROUP.description := Watchman Installation and Setup

GRP01.CFG := CFG_ROOT_DIR/system_init.cfg
GRP01.description := To init the system with basic packages

#
# Virtualization Support
#
STEP_011.CMD := cd $HOME/myRepos/; git clone https://github.com/facebook/watchman.git; pwd
STEP_011.description:= Clone the repo of watchman

STEP_012.CMD := cd $HOME/myRepos/watchman; git checkout -b v4.9.0; ./autogen.sh; ./configure; make; sudo make install
STEP_012.description:= Build and Install watchman

STEP_013.CMD := echo 999999 |sudo tee -a /proc/sys/fs/inotify/max_user_watches
STEP_013.description:= Configure the limit of user watches

STEP_015.CMD := echo 999999 |sudo tee -a /proc/sys/fs/inotify/max_queued_events
STEP_015.description:= Configure the limit of queued events

STEP_016.CMD := echo 999999 |sudo tee -a /proc/sys/fs/inotify/max_user_instances
STEP_016.description:= Configure the limit of user instances


