#
# To install X2Go server
#
# This setup assuming ssh has been installed and setup after Ubuntu Server
#     installed.
#

#
# The global variables for this project
#

#
# Ubuntu routine package update
#

STEP_000.CMD := sudo pwd
STEP_000.description:= Root privilege required for this setup

#
# To install x2goserver
#    Note: x2go using ssh connections, so the client needs to specify the same
#          port used by sshd on the server.
#

# If apt add ppa fails, the following proxys need to be set for sudoers
#STEP_030.CMD := sudo sed -i '$ a\Defaults env_keep="http_proxy"' /etc/sudoers
#STEP_030.description := Add the repository - fix the apt-add-repository issue

#STEP_031.CMD := sudo sed -i '$ a\Defaults env_keep="https_proxy"' /etc/sudoers
#STEP_031.description := Add the proxy - fix the apt-add-repository issue


STEP_032.CMD := sudo -E add-apt-repository ppa:x2go/stable; pwd
STEP_032.description := Add the repository

STEP_033.CMD := sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 0A53F9FD
#STEP_033.CMD := sudo apt-key adv --keyserver-options http-proxy="http://192.168.1.2:3128/" --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 0A53F9FD
STEP_033.description := Add key if the previous step fails

STEP_034.CMD :=  sudo apt update && sudo apt upgrade -y && sudo apt dist-upgrade -y
STEP_034.description := Update apt


STEP_035.CMD :=  sudo apt install x2goserver x2goserver-xsession -y
STEP_035.description := Install x2go server

STEP_036.CMD :=  sudo apt install xfce4 -y
STEP_036.description := Install XFCE on the server side

STEP_037.CMD :=  sudo apt install firefox -y
STEP_037.description := Install Firefox browser

STEP_038.CMD :=  sudo apt install chromium-browser -y
STEP_038.description := Install Chromium browser

#
# pepper flash does not work with Firefox or Palemoon!
#
#STEP_039.CMD := sudo apt-get install -y browser-plugin-freshplayer-pepperflash
#STEP_039.description := Install flash
#

#
# Adobe flashplayer
#
STEP_041.CMD :=sudo add-apt-repository "deb http://archive.canonical.com/ubuntu `lsb_release -cs` partner"
STEP_041.description := Install the repo of cananical

STEP_042.CMD :=  sudo apt update; sudo apt install adobe-flashplugin -y
STEP_042.description := Install Adobe flash player



