#
# This is to setup VM on the ubuntu server 16.04
#
# NOTES:
#   - For interactive cmd, please append "pwd" at the end.
#   - Built-in func: MYE_UPDATE_FILE
#   - Built-in variables:
#         CFG_ROOT_DIR, CURRENT_DATE, CURRENT_TIME, TOOL_ROOT_DIR
#
#
# Prerequisites:
#

VM_NAME := vm_wendu
VM_UUID := 0b16bf1d-1065-491c-b329-7e100af95177
VM_MAC := 52:54:00:7f:35:77

#
# The global variables for this project
#

# The default password for all the service users

CURRENT_GROUP.CFG := GRP09
CURRENT_GROUP.description := VM Setup

#GRP01.CFG := CFG_ROOT_DIR/system_init.cfg
#GRP01.description := To init the system with basic packages

#
# Virtualization Support
#

STEP_014.CMD := cp CFG_ROOT_DIR/vms/vm1604-wjw.xml CFG_ROOT_DIR/vms/$::TQ_CONFIG{VM_NAME}.xml
STEP_014.description := Create the xml file for the new VM

STEP_016.CMD := if [ -e /var/lib/libvirt/images/$::TQ_CONFIG{VM_NAME}.qcow2 ]; then echo "The VM Image exists so skip"; else sudo cp /var/lib/libvirt/images/vm1604-wjw.qcow2 /var/lib/libvirt/images/$::TQ_CONFIG{VM_NAME}.qcow2; fi
STEP_016.description := Copy the vm image

STEP_017.CMD := sed -i 's/vm1604-wjw/$::TQ_CONFIG{VM_NAME}/'  CFG_ROOT_DIR/vms/$::TQ_CONFIG{VM_NAME}.xml
STEP_017.description := Update the vm and host name

STEP_018.CMD := sed -i 's|0b16bf1d-1065-491c-b329-7e100af9513c|$::TQ_CONFIG{VM_UUID}|'  CFG_ROOT_DIR/vms/$::TQ_CONFIG{VM_NAME}.xml
STEP_018.description := Update the vm and host name

STEP_019.CMD := sed -i 's|52:54:00:7f:35:7b|$::TQ_CONFIG{VM_MAC}|'  CFG_ROOT_DIR/vms/$::TQ_CONFIG{VM_NAME}.xml
STEP_019.description := Update the vm and host name


#
# Define the VM
#

STEP_021.CMD := virsh define CFG_ROOT_DIR/vms/$::TQ_CONFIG{VM_NAME}.xml
STEP_021.description := Define the VM

STEP_022.CMD := virsh start $::TQ_CONFIG{VM_NAME}
STEP_022.description := Start the VM

STEP_023.CMD := sleep 60; ssh vm_wjw 'echo $::TQ_CONFIG{VM_NAME} | sudo tee /etc/hostname'
STEP_023.description := Update the VM hostname

STEP_024.CMD := ssh vm_wjw 'sudo init 6'
STEP_024.description := Restart the VM with the new hostname


#
# Check
#

STEP_091.CMD := virsh list --all; pwd
STEP_091.description := List all the VMs

