#
# For Phidget relays
#
ACTION=="add", \
    SUBSYSTEM=="tty", \
    ATTRS{idVendor}=="0403", \
    ATTRS{idProduct}=="6001", \
    ATTRS{serial}=="ST161320", \
    SYMLINK+="ttyUSB.DBG"

ACTION=="add", \
    SUBSYSTEM=="tty", \
    ATTRS{idVendor}=="0403", \
    ATTRS{idProduct}=="6001", \
    ATTRS{serial}=="ST161325", \
    SYMLINK+="ttyUSB.QA"

ACTION=="add", \
    SUBSYSTEM=="tty", \
    ATTRS{idVendor}=="0403", \
    ATTRS{idProduct}=="6001", \
    ATTRS{serial}=="ST161319", \
    SYMLINK+="ttyUSB.SCI"

ACTION=="add", \
    SUBSYSTEM=="tty", \
    ATTRS{idVendor}=="0403", \
    ATTRS{idProduct}=="6001", \
    ATTRS{serial}=="ST161328", \
    SYMLINK+="ttyUSB.METRO"

