[gerrit]
	basePath = git
	serverId = 63050f8c-24e1-478e-a004-01b45f6e9b1d
	canonicalWebUrl = http://wjw.vancasoft.com/gerrit
[database]
	type = h2
	database = db/ReviewDB
[index]
	type = LUCENE
[auth]
	type = HTTP
#	type = DEVELOPMENT_BECOME_ANY_ACCOUNT

[sendemail]
	smtpServer = smtp.gmail.com
	smtpUser = jjwwang@gmail.com
	smtpPass = Googl991125
	sslVerify = false
	smtpEncryption = SSL
	smtpServerPort = 465
[sshd]
	listenAddress = *:29418
[httpd]
	listenUrl = proxy-http://127.0.0.1:8081/gerrit
	filterClass = com.googlesource.gerrit.plugins.ootb.FirstTimeRedirect
	firstTimeRedirectUrl = /login/%23%2F?account_id=1000000
[cache]
	directory = cache
[plugins]
	allowRemoteAdmin = true
[receive]
	enableSignedPush = false
[container]
	user = gerrit
	javaHome = /usr/lib/jvm/java-8-oracle/jre
	email = gerrit@vancasoft.com
