#
# This is to setup Jenkins on the ubuntu server 16.04
#
# NOTES:
#   - For interactive cmd, please append "pwd" at the end.
#   - Built-in func: MYE_UPDATE_FILE
#
#
# Prerequisites:
#

#
# The global variables for this project
#

# The default password for all the service users
USERNAME := trobot

#
# Ubuntu initial sudo passwd
#

STEP_000.CMD := sudo pwd
STEP_000.description:= Root privilege required for this setup


#
# Step 1: Update repo
#

# Interactive cmd
STEP_011.CMD := wget -q -O - https://pkg.jenkins.io/debian/jenkins-ci.org.key | sudo apt-key add -
STEP_011.description:= Add Jenkins key into apt repo

STEP_012.CMD := sudo sh -c 'echo deb http://pkg.jenkins.io/debian-stable binary/ > /etc/apt/sources.list.d/jenkins.list'; pwd
STEP_012.description:= Add Jenkins repo

STEP_015.CMD := sudo apt update; sudo apt upgrade -y; sudo apt install -y jenkins
STEP_015.description:= Install Jenkins

#
# Configure the Jenkins
#

