#
# This is to setup TCNG QA framework on the ubuntu server 16.04
#
# NOTES:
#   - For interactive cmd, please append "pwd" at the end.
#   - Built-in func: MYE_UPDATE_FILE
#   - Built-in variables:
#         CFG_ROOT_DIR, CURRENT_DATE, CURRENT_TIME, TOOL_ROOT_DIR
#
#
# Prerequisites:
#

#
# The global variables for this project
#
VM_NEW_NUM := 3
VM_IMAGE_INSTALL_PATH := /var/lib/libvirt/images
VM_IMAGE_TEMPLATE := /var/lib/libvirt/images/v1.qcow2
VM_XML_TEMPLATE := CFG_ROOT_DIR/v1.xml

ROMBOOT_CLI := export LD_LIBRARY_PATH=TOOL_ROOT_DIR/Phidget:$LD_LIBRARY_PATH; ${TNT_TCNG_QA_TOPDIR}/ci/Phidget/phidgetrelay

#
# The default password for all the service users
#

STEP_000.CMD := sudo pwd
STEP_000.description:= Root privilege required for this setup

#
# Virtualization Support
#S
STEP_011.CMD := virsh start v1; virsh start v2; virsh start v3; virsh start v4; pwd
STEP_011.description:= Start the VMs

STEP_012.CMD := sleep 120; for i in /sys/bus/pci/drivers/[e]hci-pci/*:*; do echo "${i##*/}" | sudo tee "${i%/*}/unbind"; sleep 5; echo "${i##*/}" | sudo tee "${i%/*}/bind"; done
STEP_012.description:= Reset the USB devices


#
# To trigger SAM-BA USB as it normally failed the first time
#

STEP_029.CMD := echo sudo virsh qemu-monitor-command v1 --hmp 'info usb'
STEP_029.description:= Monitor the usb info from the vm


