#
# This is to setup TCNG QA framework on the ubuntu server 16.04
#
# NOTES:
#   - For interactive cmd, please append "pwd" at the end.
#   - Built-in func: MYE_UPDATE_FILE
#   - Built-in variables:
#         CFG_ROOT_DIR, CURRENT_DATE, CURRENT_TIME, TOOL_ROOT_DIR
#
#
# Prerequisites:
#

#
# The global variables for this project
#
VM_HOST_NAME := smokey3
VM_IMAGE_INSTALL_PATH := /var/lib/libvirt/images
VM_IMAGE_TEMPLATE := /var/lib/libvirt/images/v1.qcow2
VM_XML_TEMPLATE := CFG_ROOT_DIR/v1.xml

#
# The default password for all the service users
#

STEP_000.CMD := sudo pwd
STEP_000.description:= Root privilege required for this setup

#
# Virtualization Support
#

STEP_011.CMD := scp TOOL_ROOT_DIR/cfg.tcng/trobot/$::TQ_CONFIG{VM_HOST_NAME}/v1.myEnvironment.xml trobot@$::TQ_CONFIG{VM_HOST_NAME}v1:.tcng/myEnvironment.xml
STEP_011.description:= cp the TCNG qa environment file for v1

STEP_012.CMD := scp TOOL_ROOT_DIR/cfg.tcng/trobot/$::TQ_CONFIG{VM_HOST_NAME}/v2.myEnvironment.xml trobot@$::TQ_CONFIG{VM_HOST_NAME}v2:.tcng/myEnvironment.xml
STEP_012.description:= cp the TCNG qa environment file for v2

STEP_013.CMD := scp TOOL_ROOT_DIR/cfg.tcng/trobot/$::TQ_CONFIG{VM_HOST_NAME}/v3.myEnvironment.xml trobot@$::TQ_CONFIG{VM_HOST_NAME}v3:.tcng/myEnvironment.xml
STEP_013.description:= cp the TCNG qa environment file for v3

STEP_014.CMD := scp TOOL_ROOT_DIR/cfg.tcng/trobot/$::TQ_CONFIG{VM_HOST_NAME}/v4.myEnvironment.xml trobot@$::TQ_CONFIG{VM_HOST_NAME}v4:.tcng/myEnvironment.xml
STEP_014.description:= cp the TCNG qa environment file for v4

STEP_013.CMD := sudo udevadm control --reload-rules
STEP_013.description:= Reload the usb rules

STEP_019.CMD := sudo virsh qemu-monitor-command v1 --hmp 'info usb'
STEP_019.description:= Monitor the usb info from the vm


