#
# The configuration file for myexecutor: it contains the shell CLIs 
#     and the corresponding descriptions
#
SSH_CMD := ssh ec2-user@ec2-52-11-213-175.us-west-2.compute.amazonaws.com -i ~/amazon/access/myec2_t2_keys.pem

BACKUP_DIR := ~/backup/CURRENT_DATE
WORKSPACE_DIR := ~/amazon/workspace

SCP_SRC := scp -i ~/amazon/access/myec2_t2_keys.pem  ec2-user@ec2-52-11-213-175.us-west-2.compute.amazonaws.com:backup/amazon_backup_CURRENT_DATE.tar.gz

STEP_001.CMD:= cd ~/amazon/myrepos/platreauclub/mycart/catalog/view/theme; tar -zcvf $::TQ_CONFIG{WORKSPACE_DIR}/mytheme.tar.gz mytheme
STEP_001.description:= To create the package



STEP_002.CMD:= scp -i ~/amazon/access/myec2_t2_keys.pem $::TQ_CONFIG{WORKSPACE_DIR}/mytheme.tar.gz ec2-user@ec2-52-11-213-175.us-west-2.compute.amazonaws.com:workspace/.
STEP_002.description:= To upload the tarball

STEP_003.CMD:= SSH_CMD 'tar -zxvf ~/workspace/mytheme.tar.gz -C /var/www/plateauclub/mycart/catalog/view/theme'
STEP_003.description:= To install the mytheme tarball
