#
# The configuration file for myexecutor: it contains the shell CLIs 
#     and the corresponding descriptions
#

STEP_000.CMD:= echo su
STEP_000.description:= To become root

STEP_001.CMD:= emerge --sync
STEP_001.description:= To sync portage

STEP_002.CMD:=  emerge --oneshot portage
STEP_002.description:= To update portage

STEP_003.CMD:=  emerge --update --deep --with-bdeps=y --newuse @world
STEP_003.description:= To perform a full update 

#
# Trouble-shooting Tips:
#
# - If gcc-config failed, try to run gcc-config -c to get the latest gcc
#      profile, then run gcc-config <profile>
#
# - JDK update failed, need to follow the instrruction to download the jdk
#      package to the specified dir, then emerge again.
#


STEP_004.CMD:=  emerge --depclean
STEP_004.description:= To remove prphaned dependencies

STEP_005.CMD:= revdep-rebuild
STEP_005.description:= To rebuild the modules
