#
# This is to setup TCNG QA framework on the ubuntu server 16.04
#
# NOTES:
#   - For interactive cmd, please append "pwd" at the end.
#   - Built-in func: MYE_UPDATE_FILE
#
#
# Prerequisites:
#

#
# The global variables for this project
#

# The default password for all the service users
YOUR_UID := 1001
YOUR_GID := 1001


#
# The build in cmd: MYEX_UPDATE_FILE::$file::$id::$update::area::trailing
#
NET_UPDATE_CMD_CONTROLLER := MYEX_UPDATE_FILE::/etc/network/interfaces::# OpenStack: the provider netif::# OpenStack: the provider netif\nauto $::TQ_CONFIG{OS_CONTROLLER_IF_PROVIDER_NAME}\niface $::TQ_CONFIG{OS_CONTROLLER_IF_PROVIDER_NAME} inet manual\nup if link set dev $IFACE up\ndown ip link set dev $IFACE down\n::$::


#
# Ubuntu initial sudo passwd
#

STEP_000.CMD := sudo pwd
STEP_000.description:= Root privilege required for this setup


#
# Step 1: Update repo
#

# Interactive cmd
STEP_011.CMD := sudo add-apt-repository ppa:mercurial-ppa/releases; pwd
STEP_011.description:= Add the up-to-date version Mercurial repo

STEP_012.CMD := sudo apt update; sudo apt install -y mercurial
STEP_012.description:= Install Mercurial

STEP_013.CMD := mkdir -p ~/tmp; cd ~/tmp; hg clone ssh://hguser@hg//var/hg/TCNG_QA;
STEP_013.description:= Checkout TCNG QA Framework

#
# Step 2: Install Software
#
STEP_021.CMD := sudo cpan -i "File::Grep" "Getopt::Whatever" "IO::CaptureOutput" "Convert::Binary::C" "Net::OpenSSH" "Switch"; pwd
STEP_021.description:= Configure CPAN and install a few Perl modules

STEP_023.CMD := pkgs=`cat install.ubuntu-packages.list`; sudo apt-get install $pkgs
STEP_023.description:= Install all packages required by TCNG QA

STEP_024.CMD := cp -Rp $::TQ_CONFIG{CFG_ROOT_DIR}/hgrc_template ~/.hgrc
STEP_024.description:= Install NTP service on compute node

STEP_025.CMD := sudo update-alternatives --config java; pwd
STEP_025.description:= Choose real Java

STEP_026.CMD := sudo update-alternatives --config javac; pwd
STEP_026.description:= Choose Java Compiler

STEP_027.CMD := echo "download v3 rpm from Oracle"; pwd
STEP_027.description:= Install SQL Developer

#
# Step 3: Configure Ubuntu
#

STEP_031.CMD := ssh-kengen; pwd
STEP_031.description:= Generate ssh id keys

STEP_032.CMD := ssh 'hguser@hg'
STEP_032.description := Setup keyless ssh to hg - Pa$$wordhg

STEP_033.CMD := ssh 'qaxp@qaxp'
STEP_033.description := Setup keyless ssh to qaxp - Pa$$word

STEP_034.CMD := echo 15 * * * * /usr/sbin/ntpdate ntp.ubuntu.com &> /dev/null
STEP_034.description := Install crontab job to update ntp

STEP_035.CMD := sudo sudo apt-get install mailutils
STEP_035.description := Install mailutils

# Interactive cmd
STEP_036.CMD := sudo dpkg-reconfigure exim4-config; pwd
STEP_036.description := Configure mail dameon for SMTP delivery

STEP_037.CMD := MYEX_UPDATE_FILE::/etc/exports::# TCNG::# TCNG\n/tmp/nfs *(rw,fsid=1,nohide,all_squash,no_subtree_check,anonuid=$::TQ_CONFIG{YOUR_UID},anongid=$::TQ_CONFIG{YOUR_GID})\n::$::
STEP_037.description := Configure NFS server

STEP_038.CMD := MYEX_UPDATE_FILE::/etc/fuse.conf::# TCNG::# TCNG\nuser_allow_other\n::$::
STEP_038.description := Configure FUSE


#
# Step 4: Checkout Mercurial Repo in Eclipse
#

#
# Step 5: configure TCNG_QA framework
#

STEP_051.CMD := echo sed -i '
STEP_051.description := Configure FUSE


#
# Step 6: enable a fast remote access server
#

STEP_061.CMD := sudo apt install -y python-software-properties && sudo add-apt-repository ppa:freenx-team
STEP_061.description := Add the repo

STEP_062.CMD := sudo apt-get install freenx-server
STEP_062.description := Install freenx server

# to-do

#
# Step 7: Install trucov coverage anaylysis tool
#

#
# Step 8: Upgrade to Virtualbox 4.x
#

STEP_081.CMD := sudo add-apt-repository "deb http://download.virtualbox.org/virtualbox/debian lucid contrib"
STEP_081.description := Add repo for virtualbox

STEP_082.CMD := wget -q http://download.virtualbox.org/virtualbox/debian/oracle_vbox.asc -O- | sudo apt-key add -
STEP_082.description := Download vb

STEP_083.CMD := sudo apt-get update; apt-get install virtualbox-4.0; pwd
STEP_083.description := Install vb



