#
# This is to setup TCNG QA framework on the ubuntu server 16.04
#
# NOTES:
#   - For interactive cmd, please append "pwd" at the end.
#   - Built-in func: MYE_UPDATE_FILE
#   - Built-in variables:
#         CFG_ROOT_DIR, CURRENT_DATE, CURRENT_TIME, TOOL_ROOT_DIR
#
# Prerequisites:
#   TNT_WORKSPACE_TOPDIR must be set as an env
#

#
# The global variables for this project
#

#
# Include other cfg files
#

CURRENT_GROUP.CFG := GRP09
CURRENT_GROUP.description := TCNG Testing Only

GRP02.CFG := CFG_ROOT_DIR/tcng_install_mount_and_start.cfg
GRP02.description := TCNG install the QA framework, mount the APPs and start QA framework

GRP03.CFG := CFG_ROOT_DIR/tcng_flash_and_provision_devboard.cfg
GRP03.description := TCNG testbed flash and provision

GRP05.CFG := ${TCNG_TEST_SUITE}
GRP05.description := Launch the test suite of ${TCNG_TEST_SUITE}


