#
# This is to setup TCNG QA framework on the ubuntu server 16.04
#
# NOTES:
#   - For interactive cmd, please append "pwd" at the end.
#   - Built-in func: MYE_UPDATE_FILE
#   - Built-in variables:
#         CFG_ROOT_DIR, CURRENT_DATE, CURRENT_TIME, TOOL_ROOT_DIR
#
#
# Prerequisites:
#

#
# The global variables for this project
#

# The default password for all the service users
YOUR_UID := $UID
YOUR_GID := $GROUPS
ADMIN_USERNAME := $USER


CURRENT_GROUP.CFG := GRP05
CURRENT_GROUP.description := TCNG Testing Only

GRP01.CFG := TOOL_ROOT_DIR/cfg.admin/system_init.cfg
GRP01.description := Iinit the system with basic packages and setup

GRP02.CFG := TOOL_ROOT_DIR/cfg.admin/watchman.cfg
GRP02.description := Install watchman

GRP03.CFG := CFG_ROOT_DIR/tcng_setup_qa_env.cfg
GRP03.description := TCNG install the QA framework, mount the APPs and start QA framework

STEP_011.CMD := echo QA Framework has been setup
STEP_011.description := QA Framework has been setup


