#
# This is to setup Watchman on the ubuntu server 16.04
#
# NOTES:
#   - For interactive cmd, please append "pwd" at the end.
#   - Built-in func: MYE_UPDATE_FILE
#   - Built-in variables:
#         CFG_ROOT_DIR, CURRENT_DATE, CURRENT_TIME, TOOL_ROOT_DIR
#
#
# Prerequisites:
#

#
# The global variables for this project, and will replace the children
#

DB_NAME := locator
DB2_NAME := db_login
SERVER_NAME := www.localguider.com
SERVER_USERNAME := ec2-user
WEBSITE_ROOT := /var/www/wjw
WEBSITE_NAME := localguider
BACKUP_DIR := $HOME/myBackup/www.localguider.com
BACKUP_ID := localguider_CURRENT_DATE

# The default password for all the service users

CURRENT_GROUP.CFG := GRP09
CURRENT_GROUP.description := LocalGuider Website DB Installation and Setup

GRP01.CFG := CFG_ROOT_DIR/backup_db_.cfg
GRP01.description := To backup db

GRP02.CFG := CFG_ROOT_DIR/backup_web_.cfg
GRP02.description := To backup web

STEP_111.CMD := echo Done in $::TQ_CONFIG{BACKUP_DIR}
STEP_111.description:= Download the Backup dir

