#
# This is to setup Watchman on the ubuntu server 16.04
#
# NOTES:
#   - For interactive cmd, please append "pwd" at the end.
#   - Built-in func: MYE_UPDATE_FILE
#   - Built-in variables:
#         CFG_ROOT_DIR, CURRENT_DATE, CURRENT_TIME, TOOL_ROOT_DIR
#
#
# Prerequisites:
#

#
# The global variables for this project, will replace the children
#

SERVER_NAME := www.wendu.ca
SERVER_USERNAME := ec2-user
BACKUP_DIR := $HOME/myBackup/wendu.ca

# The default password for all the service users

CURRENT_GROUP.CFG := GRP09
CURRENT_GROUP.description := Wendu Website DB Installation and Setup

GRP01.CFG := CFG_ROOT_DIR/backup_.cfg
GRP01.description := To backup the db and website

STEP_911.CMD := echo done
STEP_911.description:= Create the backup dir on the server if not exist yet

